/**
*
*	Name:			IRANYekan Font
*	Version:			3.3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Sep 17, 2020
*	Updated on:		Sep 17, 2020
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/

@font-face {
    font-family: arjang;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/iranyekanwebbold.eot');
    src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/eot/iranyekanwebthin.eot');
    src: url('../fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebthin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebthin.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
    font-family: arjanglight;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/iranyekanweblight.eot');
    src: url('../fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/iranyekanwebregular.eot');
    src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/iranyekanwebmedium.eot');
    src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebmedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebmedium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/eot/iranyekanwebextrabold.eot');
    src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebextrabold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}



@font-face {
    font-family: yekanregular;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/YekanBakh.ttf') format('truetype');
  }
  
  @font-face {
    font-family: yekanmedium;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: yekanbold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/YekanBakh-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: yekanlight;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/YekanBakh-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: yekanheavy;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Heavy.ttf') format('truetype');
  }
  
  /* icomoon */
  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?exw1fx');
    src: url('../fonts/icomoon.eot?exw1fx#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?exw1fx') format('truetype'),
      url('../fonts/icomoon.woff?exw1fx') format('woff'),
      url('../fonts/icomoon.svg?exw1fx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-creativity:before {
    content: "\e900";
    color: #fafafa;
  }
  
  .icon-graduation-cap:before {
    content: "\e901";
    color: #fafafa;
  }
  
  .icon-Group-30:before {
    content: "\e902";
    color: #fff;
  }
  
  .icon-Group-146:before {
    content: "\e903";
    color: #fafafa;
  }
  
  .icon-Group-147:before {
    content: "\e904";
    color: #fafafa;
  }
  
  .icon-Group-148:before {
    content: "\e905";
    color: #fafafa;
  }
  
  .icon-Group-209:before {
    content: "\e906";
    color: #fafafa;
  }
  
  .icon-Group-309:before {
    content: "\e907";
    color: #fff;
  }
  
  .icon-Group-315:before {
    content: "\e908";
  }
  
  .icon-Group-324:before {
    content: "\e909";
    color: #616161;
  }
  
  .icon-Group-576:before {
    content: "\e90a";
    color: #9164e8;
  }
  
  .icon-Group-589:before {
    content: "\e90b";
    color: #9164e8;
  }
  
  .icon-monitor:before {
    content: "\e90c";
    color: #fafafa;
  }
  
  .icon-Page-1:before {
    content: "\e90d";
    color: #fafafa;
  }
  
  .icon-profile-2:before {
    content: "\e90e";
    color: #fafafa;
  }
  
  .icon-arrow-up2:before {
    content: "\ea3a";
  }
  
  